# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.eggs/

# uv / venv
.venv/

# AWS
.aws/
*.pem
*.pfx

# Env / secrets
.env
.env.*
!.env.example

# Editors
.vscode/
.idea/
*.swp

# OS
.DS_Store

# Logs
*.log
